include CONTRIBUTING.md
include LICENSE
include README.md

recursive-include orion/backend/lattigo *.so *.dylib *.dll

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude tests
exclude tests/*